
.reset-button {
    color: #D8D8D8;
    display: flex;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
    flex-basis: 0 !important;
}

.reset-button > svg {
    flex: 1 1 auto;
    margin-left: 15px;
}

.input-container {
    border: solid #A4A4A4 2px;
    padding: 13.5px !important;
    display: flex;
    max-width: 100% !important;
    margin-top: auto !important;
    flex-basis: 0 !important;
    justify-content: space-between;
}


p {
    margin: 0;
}

.word {
    font-size: 1.6rem;
    font-weight: bold;
    width: 80%;
    height: 31px;
    letter-spacing: 5px;
}

.word-valid {
    color: #81D135 !important;
}

.word-invalid {
    color: rgb(209, 16, 41);
}

.input-invalid {
    color: rgba(209, 16, 41, 0.4);
}

.input-valid {
    color: rgb(129, 209, 53, 0.4);
}