html, body {
    font-family: 'Verdana';
    margin: 0;
}

.global-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 15%;
    overflow: visible;
}

.global-container-mobile {
    display: flex;
    height: calc(100vh - 100px);
    align-items: stretch;
    justify-content: center;
    margin: 50px 10%;
    overflow: visible;
}

.inner-container {
    max-height: 352px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mobile-container {
    max-height: 100vh;
    width: calc(100vw - 10%);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 20px;
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}

.sz-1 {
    max-width: 352px !important;
    padding: calc(100vh - 662px) 0px;
}

.sz-1-m {
    max-width: calc(100vw - 10%);
    height: 100%;
    display: flex;
}


.sz-3-mobile {
    max-width: 100% !important;
    align-self: flex-end;
    margin-left: auto;
    font-size: 2rem;
}

.item-mobile {
    padding: 20px 0;
    flex-grow: 0;
    flex-basis: unset;
    align-items: center;
    justify-content: center;
}

.sz-2 {
    max-width: 352px !important;
}

.sz-2-m {
    height: auto;
    width: 100%;
    max-width: 100% !important;
    flex-grow: 0;
}

.sz-3 {
    padding-top: 30px;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.cont-2 {
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .global-container {
        margin: 0 5%;
    }
}

@media only screen and (max-width: 768px) {
    .global-container, .inner-container {
        margin: 0 calc((100% - 351px) / 2);
        flex-direction: column;
        justify-content: space-around;
    }

    .item {
        padding: 20px 0;
        flex-grow: 0;
        flex-basis: unset;
    }

    .sz-1 {
        padding: calc(100vh - 662px) 0px;
    }

    .sz-2 {
        height: auto;
        width: 100%;
        max-width: 100% !important;
        flex-grow: 0;
    }

    .sz-3 {
        margin-left: auto;
    }

    .container-2 {
        height: auto;
        width: 100%;
    }
}